/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    display: block;
    margin-top: 8px;
    text-align: center;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

header[role=banner] {
    background: #1f2887;
    background: -webkit-linear-gradient(#1f2887, #000000);
    background: -o-linear-gradient(#1f2887, #000000);
    background: -moz-linear-gradient(#1f2887, #000000);
    background: linear-gradient(#1f2887, #000000);
}

div.title {
    font-family: 'Lobster', cursive;
    font-size: 25pt;
    display: inline;
    position: relative;
    top: -20px;
}

.header-container {
    margin-left: 35%;
    margin-right: 30%;
}

.logo {
    height: 70px;
    width: 70px;
    display: inline;
    margin: 5px 5px 10px 5px;
    padding-left:10px;
}

/* jQuery mobile styles
-----------------------------------------------------------*/

/* Make listview buttons fill the whole horizontal width of the screen */
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding-right: 15px;
}

.ui-bar-a, .ui-body-a, .ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a,
.ui-bar-b, .ui-body-b, .ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b,
.ui-bar-c, .ui-body-c, .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c,
.ui-bar-d, .ui-body-d, .ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d,
.ui-bar-e, .ui-body-e, .ui-btn-up-e, .ui-btn-hover-e, .ui-btn-down-e,
.ui-btn-active  {
    text-shadow: none;
}