@{
    ViewBag.Title = "Contoso Movies";
}

<div id="main">
    <div id="primaryContent">
        <p id="hidden-message">
            Coming soon!
        </p>
        <div class="wrapper">
            <div id="movietitle">
                <img id="sintelLogo" src="~/Content/images/Sintel_logo.png" />
                <img id="sintelTitle" src="~/Content/images/Sintel.png" />
            </div>
            <div id="synopsis">
                <p>The film follows a girl named Sintel who is searching for a baby dragon she calls Scales. A flashback reveals that Sintel found Scales with its wing injured and helped care for it, forming a close bond with it. By the time its wing recovered and it was able to fly, Scales was caught by an adult dragon. Sintel has since embarked on a quest to rescue Scales, fending off beasts and warriors along the way. She eventually comes across a cave housing an adult and baby dragon, the latter of which she believes to be Scales. The adult dragon discovers and attacks Sintel, but hesitates to kill her. Sintel slays the dragon, only to recognize the scar on its wing and realize the dragon is an adult Scales, and that she too has aged considerably. Sintel leaves the cave heartbroken, unknowingly followed by Scales's baby.</p>
            </div>
        </div>
        <video id="promoVideo" width="100%" controls src="http://wams.edgesuite.net/media/SintelTrailer_MP4_from_WAME/sintel_trailer-1080p_3400.mp4"></video>
    </div>

    <ul data-role="listview" class="navigationList" data-inset="true">
        <li data-role="list-divider">Navigation</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Postcard", "Postcard", "Home")</li>
    </ul>

    <script>
        window.addEventListener("load", function () {
            var player = document.getElementById("promoVideo");
            player.play();
        });
    </script>

    <script>
        var comingSoonMessage = document.getElementById("hidden-message");
        if (Modernizr.cssanimations) {
            comingSoonMessage.className = "fadeIn";
        } else {
            comingSoonMessage.className = "";
        }
    </script>

    <script>
        var wrapper = document.querySelector(".wrapper");
        wrapper.onclick = function () {
            wrapper.classList.toggle("animation");
        };
    </script>
</div>